<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="notifications-endpoint" value="tcp://localhost:5000" />
		<add key="notifications-prefix" value="search_notification" />
		<add key="node-id" value="Wikipedia" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>